asgiref
black
supabase
click
colorama
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework_simplejwt
flake8
iniconfig
isort
mccabe
mypy_extensions
packaging
pathspec
pillow
platformdirs
pluggy
psycopg2-binary
pycodestyle
pyflakes
Pygments
PyJWT
pytest
pytest-django
python-dotenv
pytokens
sqlparse
tzdata
